<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/style.css" />
        <script src="js/modernizr.js"></script>
        <script src="js/jquery-2.1.1.js"></script>
        <script src="js/jquery.menu-aim.js"></script>
        <script src="js/main.js"></script>
        <title>Historical Trains of Ruegen</title>
    </head>
    <body>
        <header>
            <div class="cd-dropdown-wrapper">
                <a class="cd-dropdown-trigger" href="#0">Dropdown</a>
                <nav class="cd-dropdown">
                    <h2>Menu</h2>
                    <a href="#0" class="cd-close">Close</a>
                    <ul class="cd-dropdown-content">
                        <li>
                            <a href="gallery.html">Gallery</a>
                        </li>
                        <li>
                            <a href="info.html">Helpfull informations</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    <main class="cd-main-content">
        WIP
    </main>
    </body>
</html>
