:root {
  --primary-color: #42AC8A;
  --secondary-color: #297A7A;
  --text-color: #575A56;
  --white: #fff;
  --background: #28305a;
}

.container {
  color: var(--text-color);
}

.text {
  text-align: justify;   
  margin-top: 1cm;
  margin-left: 1cm;
}

body {
  background: var(--background);
  height: 100vh;
  margin: 0 20px;
}

